body{
    background-color:#689068;
    color:#fff;
}

.home .mainTitle{
color:#fff;
border:5px solid #fff;
border-radius:10px;
text-align:center;
margin-top:20px;
padding:20px 0px 20px 0px;
}

.home .sectionTitle{
border-bottom:3px solid #fff;
padding-bottom:4px;
}




.home .btn-large{
font-size:12px;
font-weight:bold;
height:60px;
margin-bottom:8px;
width:100%;
padding:0;
text-align:center;
vertical-align:middle;
line-height:60px;
}

@media (min-width: 1200px) {
    
    .home .btn-large{
        height:70px;
        line-height:70px;
    }
}


@media (min-width: 768px) and (max-width: 979px) {
    .home .btn-large{
        height:42px;
        line-height:42px;
    }
    .home .btn-large .iconDescription{
        display:none;
    }
}

.home .btn-large .icon{
   width:100%;
}

.home .btn-large .icon .icon-white{
    margin:0;
}

.trainer 

.form-signin{
    background:lightgrey; 
    padding:20px 30px 30px 30px; 
    border-radius:10px;
    }
    
    
.form-signin select{
    width:100%;
}

.appTitle{
color:#fff;
border:5px solid #fff;
border-radius:10px;
padding:20px 00px 20px 0px;
text-align:center;
margin-top:20px;

}



.nav-stacked{
border:1px solid #fff;
} 

.sumSection{
color:#fff;
font-size:8em;
text-align:center;
margin-top:1em;
padding-bottom:0.5em;
border-bottom:5px solid #fff;
} 

.sumSection input{
    height:1em;
    font-size:1em;
    width:320px;
    
}

.loginStudent .btn-large{
font-size:24px;
height:70px;
line-height:70px;
width:100%;
padding:0;
}


.loginStudent .form-signin-heading{
border-bottom: 3px solid #fff;
padding-bottom:4px;
}
