body{
    background-color:#689068;
    color:#fff;
}

.home .sectionTitle{
border-bottom:3px solid #fff;
padding-bottom:4px;
}


.home .btn-large .icon{
    width:100%;
    padding-bottom:4px;
}

.home .btn-large{
font-size:12px;
font-weight:bold;
height:56px;
margin-bottom:8px;


width:100%;
padding:0;
padding-top:14px;
}

.trainer 

.form-signin{
    background:lightgrey; 
    padding:20px 30px 30px 30px; 
    border-radius:10px;
    }
    
    
.form-signin select{
    width:100%;
}

.appTitle{
color:#fff;
padding:20px;
border:5px solid #fff;
border-radius:10px;
text-align:center;
margin-top:20px;
}

.nav-stacked{
border:1px solid #fff;
} 

.sumSection{
color:#fff;
font-size:8em;
text-align:center;
margin-top:1em;
padding-bottom:0.5em;
border-bottom:5px solid #fff;
} 

.sumSection input{
    height:1em;
    font-size:1em;
    width:320px;
    margin-left:20px;
    
}

.loginStudent .btn-large{
font-size:24px;
height:70px;
line-height:70px;
width:100%;
padding:0;
}


.loginStudent .form-signin-heading{
border-bottom: 3px solid #fff;
padding-bottom:4px;
}

#answerComment{
    text-align:center;
    min-height:60px;
}
